body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
}

header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: minmax(30px, 1fr) 3fr;
}

header>:first-child {
  display: grid;
  margin: 1vh 2vw;
  grid-template-columns: minmax(50px, 0.5fr) 12fr minmax(50px, 0.5fr) minmax(50px, 0.5fr) 2fr;
}
header>:last-child {
  display: grid;
  margin: 2vh 2vw;
  grid-template-columns: 1fr 4fr 1.5fr 1.5fr 1.5fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content>:first-child {
  /* grid-column: 1 / 2; */
  grid-area: 1 / 1 / 3 / 2;
}

.main-content>:first-child> h2 + div{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}