@import 'node_modules/modern-normalize/modern-normalize.css';

body {
  --LIGHT-GRAY: #E2E8F0;

  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
  font-size: calc(24px + 0.05vh);
  background-color: var(--LIGHT-GRAY);
}
h4 {
  margin: inherit;
}
p {
  margin: inherit;
}
svg {
  width: calc(26px + 0.05vh);
}
img{
  aspect-ratio: 1/1;
  height: calc(3vh + 2vw);
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
  color: white;
  background-color: #1992d4;
  padding-left: 1vw;
}
.sidebar svg {
  fill: white;
}
.sidebar>:first-child{
  display: grid;
  font-size: 2rem;
  height: 10vh;
}
.sidebar>:first-child>:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}
.sidebar>:first-child svg {
  width: calc(50px + 0.05vh);
}
/* .sidebar>:first-child + div>div {
  align-items: center;
} */
header {
  padding: 2vh 2vw;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 10vh 3fr;
  gap: 5vh;
  background-color: white;
  box-shadow: 0 0 18px -12px black;
  /* overflow: visible; */
}
header>:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: calc(26px + 0.05vh) 12fr calc(26px + 0.05vh) 2.25em 2fr;
  gap: 1vw;
}
header>:first-child input{
  font-size: 1rem;
  height: auto;
  width: 90%;
  background-color: #E2E8F0;
  border: hidden;
  border-radius: 1em;
  padding: 1vh 1vw;
}
header>:first-child img{
  height: 2.25em;
}
header>:first-child>:last-child {
  font-weight: 600;
  font-size: 1em;
}
header>:last-child {
  /* position: relative; */
  /* background-color: white; */
  display: grid;
  align-items: center;
  grid-template-columns: 3.25em 5fr repeat(3, 0.5fr);
  gap: 2vw;
}
header>:last-child>img {
  height: 3.25em;
}
header>:last-child>div {
  font-weight: 600;
  line-height: 2rem;
}
header>:last-child>div>:first-child {
  font-size: 1rem;
}
header>:last-child>div>:last-child {
  font-size: 1em;
}
header>:last-child>button {
  background-color: #1992d4;
  border: hidden;
  color: white;
  padding: 2vh 0;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2em;
}
.main-content {
  --BORDER-RADIUS: calc(10px + 0.05vh);
  --DARK-GRAY: rgb(120, 120, 120);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2vh 1vw;
  gap: 2vw;
}

.main-content>:first-child {
  grid-area: 1 / 1 / 3 / 2;
}
.main-content h2 {
  font-size: 1em;
  font-weight: 500;
}

.projects> h2 + div{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 2vw;
  height: 93%;
}
.projects>h2 + div>div{
  background-color: white;
  padding: 5vh 2vw;
  border-radius: var(--BORDER-RADIUS);
  position: relative;
  border-left: 0.5vw solid #F0B429;
  font-size: 0.9em;
  font-weight: 500;
}
.projects>h2 + div>div>h4 {
  margin-bottom: 0.5vh;
}
.projects>h2 + div>div>p{
  font-size: 1rem;
  font-weight: 300;
  color: rgb(50, 50, 50);
}
.projects>h2 + div>div>:last-child{
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  bottom: 5vh;
  right: 2vw;
  gap: 2vw;
}

.announcements>h2 + div, .trending>h2 + div {
  background-color: white;
  border-radius: var(--BORDER-RADIUS);
  padding: 5vh 2vw;
}
.announcements>h2 + div>h5{
  margin: 0;
  font-size: 0.7em;
  margin-bottom: 0.5vh;
}
.announcements>h2 + div>p{
  font-size: 0.8rem;
  color: var(--DARK-GRAY);
}
.announcements>h2 + div>hr{
  margin: 3vh 0;
}

.trending>h2 + div{
  display: grid;
  gap: 3vh;
}
.trending>h2 + div>div{
  display: grid;
  grid-template-columns: 4.5vw 1fr;
  grid-auto-flow: column;
  align-items: center;
}
.trending>h2 + div>div>div{
  font-size: 1rem;
  line-height: 1.25;
}
.trending>h2 + div>div>div>p + p{
  color: var(--DARK-GRAY);
}
