@import 'node_modules/modern-normalize/modern-normalize.css';

body {
  --LIGHT-GRAY: #E2E8F0;

  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
  font-size: calc(24px + 0.05vh);
}
h4 {
  margin: inherit;
}
p {
  margin: inherit;
}
svg {
  width: calc(26px + 0.05vh);
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
  color: white;
  background-color: #1992d4;
  padding-left: 1vw;
}
.sidebar svg {
  fill: white;
}
.sidebar>:first-child{
  display: grid;
  font-size: 2rem;
  height: 10vh;
  /* grid-template-rows: 3vh 1fr; */
}
.sidebar>:first-child>:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}
.sidebar>:first-child svg {
  width: calc(50px + 0.05vh);
}
/* .sidebar>:first-child + div>div {
  align-items: center;
} */
header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: minmax(30px, 1fr) 3fr;
}

header>:first-child {
  display: grid;
  margin: 1vh 2vw;
  grid-template-columns: minmax(50px, 0.5fr) 12fr minmax(50px, 0.5fr) minmax(50px, 0.5fr) 2fr;
}
header>:last-child {
  display: grid;
  margin: 2vh 2vw;
  grid-template-columns: 1fr 4fr 1.5fr 1.5fr 1.5fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--LIGHT-GRAY);
  padding: 2vh 1vw;
}

.main-content>:first-child {
  grid-area: 1 / 1 / 3 / 2;
}
.main-content h2 {
  font-size: 1em;
  font-weight: 500;
}

.main-content>:first-child> h2 + div{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 2vw;
}
.main-content>:first-child>h2 + div>div{
  background-color: white;
  padding: 2vh 1vw;
  border-radius: calc(10px + 0.05vh);
  position: relative;
}
.main-content>:first-child>h2 + div>div>:last-child{
  position: absolute;
  display: grid;
  bottom: 2vh;
  right: 1vw;
}
