body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
}

header {
  grid-area: 1 / 2 / 2 / 3;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
}