@import 'node_modules/modern-normalize/modern-normalize.css';

body {
  --LIGHT-GRAY: #E2E8F0;

  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
  font-size: calc(24px + 0.05vh);
}
h4 {
  margin: inherit;
}
p {
  margin: inherit;
}
svg {
  width: calc(26px + 0.05vh);
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
  color: white;
  background-color: #1992d4;
  padding-left: 1vw;
}
.sidebar svg {
  fill: white;
}
.sidebar>:first-child{
  display: grid;
  font-size: 2rem;
  height: 10vh;
}
.sidebar>:first-child>:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}
.sidebar>:first-child svg {
  width: calc(50px + 0.05vh);
}
/* .sidebar>:first-child + div>div {
  align-items: center;
} */
header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: minmax(30px, 1fr) 3fr;
}

header>:first-child {
  display: grid;
  margin: 1vh 2vw;
  grid-template-columns: minmax(50px, 0.5fr) 12fr minmax(50px, 0.5fr) minmax(50px, 0.5fr) 2fr;
}
header>:last-child {
  display: grid;
  margin: 2vh 2vw;
  grid-template-columns: 1fr 4fr 1.5fr 1.5fr 1.5fr;
}

.main-content {
  --BORDER-RADIUS: calc(10px + 0.05vh);
  --DARK-GRAY: rgb(120, 120, 120);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--LIGHT-GRAY);
  padding: 2vh 1vw;
  gap: 2vw;
}

.main-content>:first-child {
  grid-area: 1 / 1 / 3 / 2;
}
.main-content h2 {
  font-size: 1em;
  font-weight: 500;
}

.projects> h2 + div{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 2vw;
}
.projects>h2 + div>div{
  background-color: white;
  padding: 5vh 2vw;
  border-radius: var(--BORDER-RADIUS);
  position: relative;
  border-left: 0.5vw solid #F0B429;
  font-size: 0.9em;
  font-weight: 500;
}
.projects>h2 + div>div>h4 {
  margin-bottom: 0.5vh;
}
.projects>h2 + div>div>p{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5vh;
  color: rgb(50, 50, 50);
}
.projects>h2 + div>div>:last-child{
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  bottom: 5vh;
  right: 2vw;
  gap: 2vw;
}

.announcements>h2 + div{
  background-color: white;
  border-radius: var(--BORDER-RADIUS);
  padding: 5vh 2vw;
}
.announcements>h2 + div>h5{
  margin: 0;
  font-size: 0.7em;
  margin-bottom: 0.5vh;
}
.announcements>h2 + div>p{
  font-size: 0.8rem;
  color: var(--DARK-GRAY);
}
.announcements>h2 + div>hr{
  margin: 3vh 0;
}

.trending>h2 + div>div{
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  padding: 1vh 2vw;
  /* gap: ; */
}
.trending>h2 + div>div>div{
  background-color: black;
  display: grid;
  /* width: */
}
.trending>h2 + div>div>img{
  aspect-ratio: 1/1;
  /* background-color: inherit; */
  width: 20%;
}
/* .main-content>:last-child>h2 + div>div{ */
  /* background-color: black; */
  /* display: grid; */
  /* grid-auto-flow: column; */
/* } */
/* .main-content>:last-child>h2 + h5{ */
  /* margin: 0; */
/* } */
